body {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {color: seagreen;}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: seagreen;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #67ffff;
  cursor: pointer;
  color: seagreen
}
h4{color: white}
p{color: white}

/* Travel Gallery */
.tabs {
  margin: 20px 0;
}

.tab {
  margin: 5px;
}

.tab.active {
  background-color: white;
  color: black;
}

.gallery {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 700px;
  margin: 20px auto;
}

.gallery img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  cursor: pointer;
}



.city.active {
  display: grid;
}

/* Viewer */
.viewer {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.viewer img {
  max-width: 700px;
  max-height: 700px;
  width: auto;
  height: auto;
  object-fit: contain;
}




.viewer button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.close {
  position: fixed;
  top: 20px;
  right: 25px;
  font-size: 40px;
  color: white;
  background: seagreen;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: black;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-text 60s linear infinite;
  color: seagreen;
  font-size: 40px;
}

@keyframes scroll-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee-text:hover {
  animation-play-state: paused;
}
